@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

div.wrapper-all {
  height: 800px;
  max-width: 2000px;
  position: relative;
  overflow: hidden;
}

div.wrapper-all main {
  max-width: 270px;
  min-width: 270px;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 50px;
  left: calc(50% - 135px);
  position: absolute;
  z-index: 1;
}

div.wrapper-all main div.phone-container {
  height: 510px;
  padding: 9px;
  position: relative;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 80px rgba(128, 128, 128, 0.534);
          box-shadow: 1px 1px 80px rgba(128, 128, 128, 0.534);
}

div.wrapper-all main div.phone-container div.phone-screen {
  position: relative;
  background-color: #f5f3f7;
  height: 100%;
  border-radius: 20px;
}

div.wrapper-all main div.phone-container div.phone-screen::after {
  content: " ";
  display: block;
  width: 55%;
  height: 20px;
  background-color: white;
  position: absolute;
  top: -1px;
  left: calc(47% / 2);
  border-radius: 0 0 12px 12px;
  z-index: 2;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(to right, #8838ff, #e942ff);
  height: 12%;
  border-radius: 20px 20px 4px 4px;
  position: relative;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 10% 10% auto 10%;
      grid-template-columns: 10% 10% auto 10%;
  -ms-grid-rows: 15px 15px;
      grid-template-rows: 15px 15px;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  bottom: 5px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data span:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  padding-left: 5px;
  padding-top: 3px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  border-radius: 50%;
  border: 1px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data p:first-of-type, div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data p:nth-of-type(2) {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  padding-left: 10px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data p:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
  font-size: 0.5rem;
  color: #d89eff;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-header div.phone-screen-header-data span:last-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
  padding-left: 5px;
  padding-top: 4px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main {
  padding: 0 5px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main p.left {
  color: #9241c8;
  font-size: 0.565rem;
  font-family: "Rubik", sans-serif;
  width: 56.5%;
  padding: 6px;
  border-radius: 8px;
  line-height: 1.52;
  background-color: rgba(128, 102, 153, 0.096);
  margin: 10px 0;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main picture img {
  margin-left: 8px;
  border-radius: 10px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main p.right {
  color: #6e5d7e;
  font-size: 0.565rem;
  font-family: "Rubik", sans-serif;
  width: 56.5%;
  padding: 6px;
  border-radius: 8px;
  line-height: 1.52;
  background-color: white;
  margin-left: 45%;
  margin-bottom: 10px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main p.right:nth-of-type(4) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 50px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main div.service-pricing {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(to left, #8838ff, #e942ff);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px auto 25px;
      grid-template-columns: 15px auto 25px;
  -ms-grid-rows: 15px;
      grid-template-rows: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main div.service-pricing p {
  color: #d89eff;
  font-family: "Rubik", sans-serif;
  font-size: 0.55rem;
  text-indent: 10px;
  padding-top: 2px;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main div.service-pricing span.left {
  content: " ";
  display: inline-block;
  border: 1px solid #e570ff;
  border-radius: 50%;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main div.service-pricing span.right {
  display: inline-block;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}

div.wrapper-all main div.phone-container div.phone-screen div.phone-screen-main div.send-message {
  background-color: white;
  border-radius: 30px;
  color: #c6cacd;
  font-family: "Rubik", sans-serif;
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 6px;
}

div.wrapper-all main section.text-container h1.text-title {
  color: #3e2753;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

div.wrapper-all main section.text-container p.text-paragraph {
  color: #a39daa;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 610px) {
  div.wrapper-all {
    height: 780px;
  }
  div.wrapper-all main {
    width: 100%;
    max-width: 850px;
    min-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  div.wrapper-all main div.phone-container {
    width: 270px;
  }
  div.wrapper-all main section.text-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  div.wrapper-all main section.text-container h1.text-title,
  div.wrapper-all main section.text-container p.text-paragraph {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */